<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)='login(loginForm.value)' novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input (ngModel)="userName" required name="userName" id="userName" type="text" class="form-control"
        placeholder="User Name..." />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
      <input (ngModel)="password"  required name="password" id="password" type="password" class="form-control"
        placeholder="Password..." />
    </div>
    <span (mouseover)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false" >
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>
    <button type="button" (click)='cancel()' class="btn btn-default">Cancel</button>
  </form>
</div>
<hr class="col-md-12">

<div class="col-md-2">
  loginFormValid:<br>
  loginFormInvalid:<br>
  loginFormDirty:<br>
  loginFormPristine:<br>
  loginFormSubmitted:<br>
  loginFormTouched:<br>
  loginFormUnTouched:<br>
</div>
<div class="col-md-10">
  {{loginForm.valid}}<br>
  {{loginForm.invalid}}<br>
  {{loginForm.dirty}}<br>
  {{loginForm.pristine}}<br>
  {{loginForm.submitted}}<br>
  {{loginForm.touched}}<br>
  {{loginForm.untouched}}<br>
</div>

<hr class="col-md-12">

<div class="col-md-2">
  userNameValid:<br>
  userNameInvalid:<br>
  userNameDirty:<br>
  userNamePristine:<br>
  userNameTouched:<br>
  userNameUnTouched:<br>
</div>
<div class="col-md-10">
  {{loginForm.controls.userName?.valid}}<br>
  {{loginForm.controls.userName?.invalid}}<br>
  {{loginForm.controls.userName?.dirty}}<br>
  {{loginForm.controls.userName?.pristine}}<br>
  {{loginForm.controls.userName?.touched}}<br>
  {{loginForm.controls.userName?.untouched}}<br>
</div>

<hr class="col-md-12">

<div class="col-md-2">
  passwordValid: <br>
  passwordInvalid:<br>
  passwordDirty:<br>
  passwordPristine:<br>
  passwordTouched:<br>
  passwordUnTouched:<br>
</div>
<div class="col-md-10">
  {{loginForm.controls.password?.valid}}<br>
  {{loginForm.controls.password?.invalid}}<br>
  {{loginForm.controls.password?.dirty}}<br>
  {{loginForm.controls.password?.pristine}}<br>
  {{loginForm.controls.password?.touched}}<br>
  {{loginForm.controls.password?.untouched}}<br>
</div>